extends ../../layout.pug

block content
  h1 New user
  if infoMessage
    div.my-3.text-danger=infoMessage

  form(action='/admin/registrations' method='post')
    label.mb-0(for='user_email') User Email
    div
      input(id='user_email' name='email', type='text')
    label.pt-3.mb-0(for='user_passwword') Password
    div
      input(id='user_passwword' type="password" name='password')
    label.pt-3.mb-0(for='password_confirmation') Password Confirmation
    div
      input(id='password_confirmation' type="password" name='passwordConfirmation')
    div
      input.btn.btn-dark.my-4(type='submit' name='Submit')  