extends ../../admin_layout.pug

block content
    h1.mt-5 Messages
    table.table.table-striped
        thead
            tr
                th(scope="col") ID
                th(scope="col") Email
                th(scope="col") Message
                th(scope="col") Created At
        tbody
            each message in messages
                tr
                    th(scope="row")= message.id
                    td=message.email || 'N/A'
                    td=message.body || 'N/A'
                    td=message.createdAt.toDateString()
            else
                tr
                    th(colspan="4") No Messages Available