extends ../../authenticated_layout.pug

block content
  h1.mt-5 Edit Product Group
  p
    a(href=`/merchant/pages/${productGroup.page.slug}`)= `${productGroup.page.name} Admin Page`
    include _form
    +form(`/merchant/product_groups/${productGroup.id}/update`, 'put', productGroup)