html
  head
    title=catalog.name
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

    //- block scripts
    //-   script(src='/jquery.js')
  body.container.p-3
    block content
    block foot
      #footer
        //- p some footer content