html
  head
    title GN Solutions
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/admin.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js")

  body.container
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .navbar-brand(href='#') GN Solutions Admin
        #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a(class=`nav-link${currentPage == 'users' ? ' active' : ''}` href=`/admin/users`) Users
            div
                form.m-0(action='/merchant/logout?_method=DELETE' method='post')
                    input.btn.btn-sm.btn-outline-light(type='submit' value="Logout")
    block content
    block foot
    #footer
            //- p some footer content



