.vwh-100 {
    min-width: 100vw;
    min-height: 100vh;
}

.pull-up-50 {
    top: -55px;
}

.mt-150 {
    margin-top: 150px;
}

.pt-100 {
    padding-top: 100%;
}

.box-60 {
    width: 60px;
    height: 60px;
}

.logo {
    height: 150px;
}

.cover-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.from-bottom {
    left: 0;
    right: 0;
    bottom: 0;
}

.z-99 {
    z-index: 99;
}

.seperator {
    margin-left: 20%;
    margin-right: 20%;
}

@include media-breakpoint-down(sm) {
    .centered-display {
        width: 100%;
    }

    .logo {
        height: 85px;
    }
}