.vwh-100 {
    width: 100vw;
    height: 100vh;
}

.h-250 {
    height: 250px;
}

.pull-up-50 {
    top: -55px;
}

.top-left {
    left: 1.5rem;
    height: 150px;
}

.top-right {
    top: 8px;
    right: 1.5rem;
    height: 150px;
}

.centered-display {
    width: 75%;
}

.cover-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.from-bottom {
    left: 0;
    right: 0;
    bottom: 0;
}

.z-99 {
    z-index: 99;
}

@include media-breakpoint-down(sm) {
    .centered-display {
        width: 100%;
    }
}