.vwh-100 {
    width: 100vw;
    height: 100vh;
}

.pull-up-50 {
    top: -55px;
}

.logo {
    left: 1.5rem;
    height: 150px;
}

.centered-display {
    width: 75%;
}

@include media-breakpoint-down(sm) {
    .centered-display {
        width: 100%;
    }
}