extends ../../admin_layout.pug

block content
  h1.mt-5 Edit Product
  h4= "Category: " + category.name
  p
    a(href=`/admin/${category.slug}/products`)= `${category.name} Products List`
    include _form
    +form(`/admin/products/${product.id}/update`, 'put', product, image)