extends ../../admin_layout.pug

block content
  h1.mt-5 New Product
  h4= "Category: " + category.name
  p
    a(href=`/admin/categories/${category.slug}`)= `${category.name} Admin Page`
    include _form
    +form(`/admin/category_sections/${section.id}/products/`, 'post', {}, {})