extends ../../authenticated_layout.pug

block content
  h1.mt-5 Edit Review
  p
    a(href=`/merchant/reviews`) Reviews List
    include _form
    +form(`/merchant/reviews/${review.id}/update`, 'put', review)