extends ../../../../lib/views/authenticated_layout.pug

block content
  h1.mt-5 New Merchant Page
  p
    a(href='/admin/merchants') Merchants List
    include _form
    +form('/admin/merchants/', user)